<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	  enable-background="new 0 0 50 50" xml:space="preserve">
<g>
	<path fill="rgba(0,0,0,0.4)" d="M25-0.1C11.2-0.1,0,11.1,0,25c0,13.9,11.2,25.1,25,25.1c13.8,0,25-11.2,25-25.1C49.9,11.1,38.7-0.1,25-0.1z
		 M18.5,43.1L23.1,28H13l19.4-21l-4.6,15h10.1L18.5,43.1z"/>
</g>
</svg>
